/* Add this to your styles or CSS file */

  .bg {
    background-image: url('https://png.pngtree.com/background/20230528/original/pngtree-room-in-a-huge-office-picture-image_2781724.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* label {
    font-weight: bold;
  } */
  .container {
    max-width: 500px;
    margin: auto;
    border-radius: 2%;
  }
  input,select {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: #ff0000; /* Red color for error messages */
    margin-top: 10px;
  }
  .larger-button {
    width: 100%; /* Set the width to 100% of the container */
    padding: 10px; /* Adjust the padding as needed */
    font-size: 1.2em; /* Adjust the font size as needed */
  }
  