<div class="bg">
  <div class="container bg-white">
    <h2 class="text-center text-info">Register Page</h2>
    <form (submit)="onSubmit()" class="form">
      <div class="form-control">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="firstName" class="col-form-label">First Name:</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
            [(ngModel)]="firstName"
            required
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            [(ngModel)]="lastName"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="form-group hide" [hidden]="hideUserTypeField">
          <label for="user_type">User Type:</label>
          <input
            type="text"
            value="user"
            id="user_type"
            name="user_type"
            [(ngModel)]="user_type"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            [(ngModel)]="phone"
            required
          />
        </div>
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" [(ngModel)]="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" name="dob" [(ngModel)]="dob" required />
        </div>
        <button type="submit" class="btn btn-primary my-3 py-1 larger-button">
          Register
        </button>
        <h6 class="text-center mt-3">OR</h6>
        <h6 class="text-center">
          <a routerLink="/login">Have Account ? LogIn</a>
        </h6>
      </div>
    </form>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>
