.bg{
    background-image: url('https://png.pngtree.com/background/20230528/original/pngtree-room-in-a-huge-office-picture-image_2781724.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Set the width to 100% of the viewport width */
    height: 100vh; /* Set the height to 100% of the viewport height */
  }