<app-navbar></app-navbar>
<div class="container m-5">
    <h2>About Us</h2>
    <p>Welcome to EStore, your one-stop destination for high-quality products. Our mission is to provide the best shopping experience for our customers.</p>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="https://img.freepik.com/premium-vector/consumer-electronics-store-interior-showcase-shelves-with-laptop-computer_276875-601.jpg" alt="About Us Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>At EStore, we offer a wide range of products, including electronics, fashion, home goods, and more. Our team is dedicated to curating a selection of top-notch items to cater to your needs.</p>
        <p>Explore our store, discover amazing deals, and enjoy the convenience of online shopping with EStore.</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  